@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap");
.container {
  width: 90%;
  margin: 0 auto;
}

.box {
  width: 22%;
  background-color: hsl(228, 28%, 20%);
  padding: 40px;
  padding-bottom: 20px;
  position: relative;
  top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  border-top: 5px solid;
}
.box .username {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
.box .username img {
  margin-right: 10px;
}
.box .username p {
  font-weight: 700;
  color: hsl(228, 34%, 66%);
  font-size: 12px;
}
.box h1 {
  font-weight: 700;
  font-size: 50px;
}
.box p {
  color: hsl(228, 34%, 66%);
}
.box p:nth-child(3) {
  font-size: 18px;
  gap: 5px;
  font-weight: 200;
  letter-spacing: 5px;
}
.box .status {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.box .status p {
  font-size: 11px;
  font-weight: 700;
  margin-left: 5px;
  color: hsl(163, 72%, 41%);
}
.box:hover {
  background-color: #374062;
}

.small-box {
  width: 20%;
  background-color: hsl(228, 28%, 20%);
  padding: 20px;
  padding-bottom: 5px;
  margin-right: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.small-box span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.small-box span p {
  font-size: 15px;
  color: hsl(228, 34%, 66%);
  font-weight: 700;
}
.small-box span .down {
  margin-top: 30px;
}
.small-box span .down p {
  color: hsl(356, 69%, 56%);
  font-size: 10px;
  margin-left: 5px;
}
.small-box span .up {
  margin-top: 30px;
}
.small-box span .up p {
  font-size: 10px;
  color: hsl(163, 72%, 41%);
  margin-left: 5px;
}
.small-box span:first-of-type {
  margin-bottom: 20px;
}
.small-box:hover {
  background-color: #374062;
}

.light-box {
  background-color: hsl(227, 47%, 96%);
}
.light-box .username p {
  color: hsl(228, 12%, 44%);
}
.light-box p:nth-child(3) {
  color: hsl(230, 17%, 14%);
}
.light-box:hover {
  background-color: #dde2f3;
}

.light-small-box {
  background-color: hsl(227, 47%, 96%);
}
.light-small-box span p {
  color: hsl(230, 17%, 14%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: hsl(230, 17%, 14%);
  color: hsl(0, 0%, 100%);
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}

.top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  background-color: hsl(232, 19%, 15%);
  padding: 40px;
  padding-left: 90px;
  padding-right: 90px;
  padding-bottom: 150px;
}
.top .left h2 {
  font-weight: 700;
}
.top .left p {
  font-weight: 700;
  color: hsl(228, 34%, 66%);
}
.top .right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: -20px;
  /* Hide default HTML checkbox */
  /* The slider */
  /* Rounded sliders */
}
.top .right p {
  margin-right: 10px;
  font-weight: 700;
}
.top .right .switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 30px;
}
.top .right .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.top .right .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(hsl(210, 78%, 56%), hsl(146, 68%, 55%));
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.top .right .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: hsl(230, 17%, 14%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.top .right input:checked + .slider {
  background-color: #2196F3;
}
.top .right input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
.top .right input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.top .right .slider.round {
  border-radius: 34px;
}
.top .right .slider.round:before {
  border-radius: 50%;
}

.dashboard {
  display: flex;
  justify-content: space-evenly;
}
.dashboard .fb {
  border-color: hsl(208, 92%, 53%);
}
.dashboard .twt {
  border-color: hsl(203, 89%, 53%);
}
.dashboard .ig {
  border-color: hsl(329, 74%, 53%);
}
.dashboard .yt {
  border-color: hsl(348, 97%, 39%);
}
.dashboard .yt .status p {
  color: hsl(356, 69%, 56%);
}

.overview {
  position: absolute;
  max-width: 92.2%;
  top: 390px;
  padding-bottom: 10px;
}
.overview h3 {
  margin-left: 30px;
}
.overview .small-boxes {
  width: 100%;
  margin-left: -5px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.light {
  background-color: hsl(0, 0%, 100%);
  color: hsl(230, 17%, 14%);
}
.light .light-top {
  background-color: hsl(227, 47%, 96%);
}
.light .light-top p {
  color: hsl(228, 12%, 44%);
}

.light-overview h3 {
  color: hsl(228, 12%, 44%);
}