// Dark theme
$BG: hsl(230, 17%, 14%);
$Top-BG-Pattern: hsl(232, 19%, 15%);
$Card-BG: hsl(228, 28%, 20%);
$Text:hsl(0, 0%, 100%);
$Text-dark:hsl(228, 34%, 66%);
$Lime-Green: hsl(163, 72%, 41%);
$Bright-Red: hsl(356, 69%, 56%);
$Facebook: hsl(208, 92%, 53%);
$Twitter: hsl(203, 89%, 53%);
$Instagram:  hsl(329, 74%, 53%);
$YouTube: hsl(348, 97%, 39%);
$Toggle-bg: linear-gradient(hsl(210, 78%, 56%), hsl(146, 68%, 55%));

// Light theme
$Light-Toggle: hsl(230, 22%, 74%);
$Light-BG: hsl(0, 0%, 100%);
$Light-Top-BG-Pattern: hsl(225, 100%, 98%);
$Light-Card-BG: hsl(227, 47%, 96%);
$Light-Text-gr:hsl(228, 12%, 44%);
$Light-Text-dk:hsl(230, 17%, 14%);

// Typography
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');
$font-family: 'Inter', sans-serif;
$Big: 700;
$Small: 200;
$Medium: 400;
