@media screen and (max-width : 480px){
    .container {
        width: 90%;
    }
    
    .top {
        width:100%;
        flex-direction: column;
        justify-content: space-between;
        padding-left: -90px;
        padding-right: -90px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;

        .left {
            text-align: left;
            margin-bottom: 20px;
            max-width: 100%;
            padding: 0;
            

            h2 {
                font-size: 1.24rem;
                text-align: left;
            }
        }

        .right {
                p {
                    margin-left: 22px;
            }
        }
    }
    
    .dashboard {
        flex-direction: column;
        align-items: center;

        .box {
            top: 200px;
            width: 90%;
            margin-bottom: 20px;
        }
    }

    .overview{
        width: 90%;

        h3 {
            position: absolute;
            top: 780px;
            font-size: 1.5rem;
            margin-left: -30px;
    
        }

        .small-boxes {
            flex-direction: column;
            position: absolute;
            top: 810px;
            padding-bottom: 20px;
    
            .small-box {
                width: 90%;
                margin-left: 22px;
            }
        }
    }
} 