.container {
    width: 90%;
    margin: 0 auto;
}

.box {
    width: 22%;
    background-color: $Card-BG;
    padding: 40px;
    padding-bottom: 20px;
    position: relative;
    z-index: 1;
    top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;

    .username {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;

        img {
            margin-right: 10px;
        }

        p {
            font-weight: $Big;
            color: $Text-dark;
            font-size: 12px;
        }
    }

    
    h1 {
        font-weight: $Big;
        font-size: 50px;
    }

    p {
        color: $Text-dark;
    }

    p:nth-child(3) {
        font-size: 18px;
        gap: 5px;
        font-weight: $Small;
        letter-spacing: 5px;
    }

    .status {
        display: flex;
        align-items: center;
        margin-top: 20px;


        p {
            font-size: 11px;
            font-weight: $Big;
            margin-left: 5px;
            color: $Lime-Green;
        }
    }
}